@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0.02 240);
  --foreground: oklch(0.18 0.02 240);

  --card: oklch(0.975 0.02 240);
  --card-foreground: oklch(0.18 0.02 240);

  --popover: oklch(0.975 0.02 240);
  --popover-foreground: oklch(0.18 0.02 240);

  --primary: oklch(63.155% 0.16659 249.815);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.93 0.025 240);
  --secondary-foreground: oklch(0.28 0.03 240);

  --muted: oklch(0.94 0.02 240);
  --muted-foreground: oklch(0.55 0.04 240);

  --accent: oklch(0.92 0.03 240);
  --accent-foreground: oklch(0.28 0.03 240);

  --destructive: oklch(0.6 0.22 25);

  --border: oklch(0.88 0.02 240);
  --input: oklch(0.88 0.02 240);
  --ring: oklch(0.62 0.16 245);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.22 0.05 220);
  --foreground: oklch(0.94 0 0);

  --card: oklch(0.26 0.055 220);
  --card-foreground: oklch(0.94 0 0);

  --popover: oklch(0.26 0.055 220);
  --popover-foreground: oklch(0.94 0 0);

  --primary: oklab(67.659% -0.0814 -0.12071);
  --primary-foreground: oklch(0.2 0.02 220);

  --secondary: oklch(0.3 0.05 220);
  --secondary-foreground: oklch(0.94 0 0);

  --muted: oklch(0.3 0.05 220);
  --muted-foreground: oklch(0.7 0.04 220);

  --accent: oklch(0.32 0.05 220);
  --accent-foreground: oklch(0.94 0 0);

  --destructive: oklch(0.7 0.19 25);

  --border: oklch(1 0 0 / 18%);
  --input: oklch(1 0 0 / 22%);
  --ring: oklch(0.6 0.14 220);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
